#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.password-field {
  -webkit-text-security: disc;
   caret-color: #FAFAFA;
} */

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
  background-size: 200% 100%;
}

.str-chat {
  height: 100vh;
  overflow-y: auto;
  border: none;
}

.str-chat__channel {
  display: flex;
  height: 100vh;
}

.str-chat__channel-list {
  overflow: scroll;
}

#children.open {
  display: none;
}

#chatDisplay.open {
  display: none;
  height: 100vh;
  border: 1px solid;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.str-chat__message-attachment__voice-recording-widget__title {
  display: none;
}

#channel.open {
  display: none;
}

#chatlist.open {
  display: none;
}

#navbar.open {
  display: none;
}
